[submodule "apps/src/tests/gold_standard"]
	path = apps/src/tests/gold_standard
	url = https://glpat-zLGhx87F9w2skpoELDs2:glpat-zLGhx87F9w2skpoELDs2@gitlab.nrao.edu/ardg/libra-data.git
	branch = main
