[submodule "apps/src/tests/gold_standard"]
	path = apps/src/tests/gold_standard
	url = https://glpat-pkvLqALCryeSG9EZ5NP3:glpat-pkvLqALCryeSG9EZ5NP3@gitlab.nrao.edu/ardg/libra-data.git
	update = merge
